In [4]:
## Numeric operations
# Division with remainder 
print(10 / 3)
# Division without remainder
print(10 // 3)
# Remainder / Modulo
print(10 % 3)

3.3333333333333335
3
1

In [9]:
## String operations
# Concatenation
print('ab' + 'cde')
# Multiplication
print('ab' * 2)
# Multiline strings
print('\n1st line\n2nd line\n')
# Escaping
print('I\'m a coder!')

abcde
abab

1st line
2nd line

I'm a coder!

In [18]:
## String operations
# Concatenation
num_stud = 55
avg_grade = 8.642843584319
print('There are ' + str(num_stud) + ' students in the python class.')
# Formatting syntax
print(f'There are {num_stud} students in the python class.')
print(f'The average grade is {avg_grade:.2f}.')
# FaaF
print('The {} students\' class average grade is {:.2f}.'.format(num_stud, avg_grade))
print('The {0} students\' class average grade is {1:.2f}.'.format(num_stud, avg_grade))
print('The {num} students\' class average grade is {avg:.2f}.'.format(num = num_stud, avg = avg_grade))

There are 55 students in the python class.
There are 55 students in the python class.
The average grade is 8.64.
The 55 students' class average grade is 8.64.
The 55 students' class average grade is 8.64.
The 55 students' class average grade is 8.64.

In [20]:
# Combined assignment & operations
var = 1
increment = 2
var += increment
print(var)

3

In [2]:
# Set
a = {1, 2, 3}
b = set((3, 4, 5))
print(f'set a: {a}')
print(f'set b: {b}')

set a: {1, 2, 3}
set b: {3, 4, 5}

In [11]:
# Unite two sets
a |= b; print(f'Union: {a}')
# Add one element
a.add(6); print(f'Add one elt: {a}')
# Add multiple elements
a.update({7, 8}); print(f'Add multiple elts: {a}')

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Add one elt: {1, 2, 3, 4, 5, 6, 7, 8}
Add multiple elts: {1, 2, 3, 4, 5, 6, 7, 8}

In [21]:
# Dictionary
a = {'a': 1, 'b': 2, 'c': 3}; print(f'The standard way: {a}')
a = dict(a = 1, b = 2, c = 3); print(f'The dict constructor: {a}')

The standard way: {'a': 1, 'b': 2, 'c': 3}
The dict constructor: {'a': 1, 'b': 2, 'c': 3}

In [26]:
# Get all keys: List
print(a.keys())
# Get all values: List
print(a.values())
# Get all pairs: List of tuples
print(a.items())
# Get the specific value
print(a['a']); print(a.get('a'))

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])
1
1

In [28]:
# Function output
# Return something
print(sorted([2, 1, 3]))
# Return nothing
print([2, 1, 3].sort())

[1, 2, 3]
None

In [29]:
# Lambda function
students = [('John Smith', 5.6),
            ('Angela Merkel', 10),
            ('George Bush jr.', 0),
            ('Steven Brown', 8),
            ('Michael Miller', 7.3)]

In [30]:
# The sorted function
sorted(students, key = lambda x:x[1])

[('George Bush jr.', 0),
 ('John Smith', 5.6),
 ('Michael Miller', 7.3),
 ('Steven Brown', 8),
 ('Angela Merkel', 10)]

In [31]:
# The map function
list(map(lambda x:str(x[1]) , students))

['5.6', '10', '0', '8', '7.3']

In [32]:
# The filter function
list(filter(lambda x:x[1] > 6, students))

[('Angela Merkel', 10), ('Steven Brown', 8), ('Michael Miller', 7.3)]

In [38]:
# The reduce function
import functools 
grades = list(map(lambda x:x[1], students))
functools.reduce(lambda x, y: x + y, grades) / 5

6.180000000000001